
<h1>Welcome!</h1>

<h1>Verb of the day: <%= @verb_of_the_day.verb_description %></h1> 


<div class="center">

<img src="https://i.kym-cdn.com/news_feeds/icons/mobile/000/035/373/c98.jpg">
</div>

</p>
